/* Hero Section */

*{
  margin: 0px;
  padding:0px;

}

body, html{
  overflow-x: hidden!important;
}

.scroll-container {
  position: absolute;
  overflow: hidden;
  z-index: 10;
  display: flex;
  justify-content: center;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}


h3,p,h1,h2 {
  font-family: 'ubuntu';
}

h1{
  font-weight: bold!important;
  font-size: 2rem!important;
  color: #444!important;
}

h2{
  color: #444!important;

}

p{
  font-weight:light!important;
  opacity: 80%;
}

.subtitle{
  font-weight: 300;
}


.hero{
  height: 95vh;
}

.hero-column{
  padding-top: 20vh;
  padding-left: 5%;
  padding-right: 5%;
}

.hero-text{
  padding-top: 0%;
  text-align: center;
}

.hero-animation{
  justify-content: center;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}
.font1{
  font-family: 'ubuntu'!important;
  font-weight: 500;
}

.hero-heading {
  width:100%;
  text-align: center;
}

.font2{
  font-family: Gugi;
}

/* Background + Introduction*/

.solid-bg {
  background:#7510F7;
  color: white;
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 30vh;
}

.solid-bg{
  line-height: 2rem;
  font-size: 1.125rem;
}

/* About Columns Section */

.about{
  margin-top: -20vh;
}

i{
  line-height: 30px;
  color:#7510F7;
}


.about h2{
  font-size: 1.5rem;!important;
  font-weight: 800!important;
}

.about .emphasis{
  color: #7510F7;
  font-weight: 300;
}

.about p{
  line-height: 2rem;
  font-size: 1.125rem;
  font-weight: 200;
}

.about div{
  text-align: center;
}

.border-right{
  border-right: 1px solid #E6ECF8;
}

.about .row{
  border: 1px solid #E6ECF8;
  border-radius: 16px;
  background-color: white;
  filter: drop-shadow(0.01rem 0.01rem 1rem rgba(0,0,0,0.05));
}

.about .column{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20%;
  padding-bottom: 10%;
}

/* Projects */

.work{
height: 350vh;
overflow-y: hidden;
position: relative;
}

.project{
height: 350vh;
width: 100vw;
display: flex;
z-index: 0;
position: absolute;
overflow: hidden!important;
}

.Section2{
  z-index: 1;
}

.project2, .project3{
  background-color: #f4f5ff!important;
  height: 100vh;
}

.project-description{
  width: 50%;
  padding-top: 2%;
  padding-left: 1%;
  height: 100vh;
  transition: all .5s ease-in-out;
  color: rgb(34, 34, 34);

}


.project-description p{
  position: fixed!important;
  top:30vh;
  width: 50%;
}

.project-description .role{
  position: fixed!important;
  top:25vh;
}


.project-description .projectname{
  font-size: 4.5rem;
  position: fixed!important;
  top:20vh;
  color: #444;
}



.project-description .toptext {
  padding-left: 1%;
  top: 5%;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  position: fixed!important;
}

.fade-in{
  opacity: 1!important;
  transition: all .2s ease-in;
}

.fade-out{
  opacity: 0!important;
  transition: all 4s ease-in-out;
}


.project-description .bottomtext {
  padding-bottom: 2%;
  padding-left: 1%;
  bottom: 3%;
  left: 0;
  font-weight: 400;
  opacity: 60%;
  position: fixed!important;
}

 .ptwo {
  opacity: 0;
  transition: all .5s ease-in-out;
}

.pone {
 opacity: 0;
 transition: all .5s ease-in-out;
 
}

.pthree {
 opacity: 0;
 transition: all .5s ease-in-out;
}

.project-images img{
  position: absolute;
  filter: drop-shadow(10px 10px 10px #444);
  border-radius: 16px;
  opacity: 95%;

}

.project-images {
  width: 50%;
  float: right;
  justify-content: center;
  height: 100vh;
  align-items: center;
  overflow-x: hidden!important;
}

.project .image2 {
  position: absolute;
  width: 20%;
  transform: translate(-15%, 90vh);
}

.project .image1 {
  position: absolute;
  z-index: 1;
  transform: translate(60%, 45vh);
  width: 20%;
}

.project .image3 {
  position: absolute;
  transform: translate(120%, 100vh);
  width: 20%;

}

.project .image4 {
  position: absolute;
  width: 20%;
  transform: translate(-15%, 350vh);
}

.project .image5 {
  position: absolute;
  z-index: 1;
  transform: translate(40%, 580vh);
  width: 25%;
}

.project .image6 {
  position: absolute;
  width: 20%;
  transform: translate(40%, 480vh);
  right:5%;
}


.project .image7 {
  position: absolute;
  width: 20%;
  transform: translate(-15%, 1850vh);
}

.project .image8 {
  position: absolute;
  z-index: 1;
  transform: translate(60%, 1780vh);
  width: 25%;
}

.project .image9 {
  position: absolute;
  width: 20%;
  transform: translate(40%, 1500vh);
  right:5%;
}

.projects .scrollicon{
  height: 50px;
  width: 30px;
  border: 2px solid black;
  position: fixed;
  left: 50%;
  bottom: 20px;
  border-radius: 50px;
  cursor: pointer;
  opacity: 50%;
  animation: blinker 5s linear infinite;
  animation-delay: 3s;
  opacity: .1;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}


@media only screen and (min-width: 1024px){
  .container{
    padding-left:0!important;
    padding-right:0!important;
  }



}




@media only screen and (min-width: 320px) and (max-width:480px){

  .hero-column{
    padding-top: 20vh;
    padding-left: 5%;
    padding-right: 5%;
  }

  .about{
    padding-left: 3%;
    padding-right: 3%;
  }



  .subtitle{
    font-size: 1.25rem!important;
  }

  .hero-animation{
    width: 80%;
  }

  .container{
    padding-right: 10%!important;
    padding-left: 10%!important;
  }

  .project,.work{
    height: 330vh;
  }

  .project .image1 {
    width: 40%;
    transform: translate(40%, 60vh);

  }

  .project .image2 {
    width: 40%;
    transform: translate(-5%, 100vh);

  }


  .project .image3 {
    width: 40%;
    transform: translate(70%, 200vh);
  }

  .project .image4 {
    z-index: 1;
    width: 40%;
    transform: translate(-15%, 450vh);
  }

  .project .image5 {
    width: 50%;
    transform: translate(40%, 600vh);
    z-index: 0;
  }


  .project .image6 {
    width: 50%;
    transform: translate(40%, 880vh);
    right:15%;
    z-index: 1;
  }

  .project .image7 {
    z-index: 1;
    width: 40%;
    transform: translate(-15%, 1850vh);
  }

  .project .image8 {
    width: 40%;
    transform: translate(40%, 2480vh);
  }


  .project .image9 {
    width: 50%;
    transform: translate(40%, 2100vh);

  }

.project-description .projectname{
    font-size: 1.5rem;
    display: flex;
  }

  .project-description .mt-5{
    margin-top: 1%!important;
  }

  .project-description p{
    font-size: 1rem;
    font-weight: 300;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    width:60%;
  }

  .project-description .projectdetail{
    top:30vh;
  }

  .project-description .role {
    width: 60%;
    font-weight: 400;
    font-size: .8rem;

  }

  .project-description .toptext {
    padding-left: 3%;
    justify-content: center;
    align-items: center;
  }

  .project-description .bottomtext {
    padding-bottom: 2%;
    vertical-align: bottom;
 }

  .border-right{
    border-radius: 16px;
  }

}
